.copyright{
  color:white;
  font-size: 13px;
}
.icons img{
  width:30px;
  height:30px;
  padding:2px;
  border: 1px solid #D2D2D2;
  border-radius:10px;
}
.white{
  color:#D2D2D2;
  font-size: 13px;
}

.logo_menu_list a{
  color:#777777;
  font-size: 13px;
}

.left{
  font-size: 7px;
  color:#777777;
}
.family_site a{
  color:#D2D2D2;
  font-size: 14px;
}
.gray_line{
  color:#D2D2D2;
  padding:100px;
}

.big_white_text{
  color:white;
  position:absolute;
	top:15%;
	left:10%;
	font-size:6rem;
	width:480px;
	word-break:keep-all;
	opacity:0;
	transition:all 2s;
	letter-spacing: -2.5px;
}

.big_black_text{
  color: black;
  position:absolute;
	top:15%;
	left:10%;
	font-size:6rem;
	width:480px;
	word-break:keep-all;
	opacity:0;
	transition:all 2s;
	letter-spacing: -2.5px;
}